body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.absen-form {
    margin: 20px auto;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

button {
    margin-top: 10px;
}

h1 {
    margin-top: 50px;
}

